body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

canvas {
  background: #000;
  border: 3px solid #af4c4c;
}

.game_buttons{
  display: none;
}

.background{
  background-image:url(images/Grass.jpg);
  background-size: cover;
}

@media (max-width: 800px) {
  .game_buttons {
    display: block;
  }
}
